.section {
    margin: 10px;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-size: 20px;
    margin: 0 auto;
}

.section__body {
    padding: 20px;
}